<%- include ('../../partials/header.ejs') %> 
<%- include ('../../partials/telaAdmin.ejs') %> 
    <div class="w-100 bg-white shadow-lg mb-1 rounded row align-items-center">
        <div class="d-flex flex-row justify-content-center  align-items-center h-100">
            <div class="user-dados my-5 gradient-custom shadow-lg  mb-1 rounded text-center">
                <h1 class="mt-5"> Meus Dados </h1>
               
                        <div class="mt-5 d-inline mb-3">
                            <img src="user.png" class="img-dados ">
                            <input class="form-control form-dados mt-5" type="text" name="nome" value="<%= user.nome %>" readonly>
                        </div>

                        <div class="d-block">
                            <img src="email.png" class="img-dados ">
                            <input class="form-control form-dados mt-5" type="text" name="nome" value="<%= user.email %>" readonly>
                        </div>

                       <form method="POST" action="/apagarConta" onsubmit="confirmarDeletarConta(event, this)">
                        <div class="d-block mt-5 pt-5">
                            <input type="hidden" name="id" value="<%= user.id %>">
                            <button  class="btn btn-danger">APAGAR CONTA</button>
                        </div>
                       </form>


            
            </div>
        </div>
                
    </div>
    
    </div>
</section>

<script>
    function confirmarDeletarConta(event, form) {
    event.preventDefault(); 

    let decision = confirm("Você tem certeza que deseja apagar a conta?"); 

    if(decision){
        form.submit();
    }
}

</script>

<%- include ('../../partials/footer.ejs') %> 