
<%- include ('../../partials/header.ejs') %> 
<%- include ('../../partials/telaAdmin.ejs') %> 
        <div class="w-100 bg-white shadow-lg mb-1 rounded row align-items-center">

         
            <div class="d-flex flex-column justify-content-center  align-items-center  h-80 w-100">
                <div class="user-dados justify-content-start gradient-custom shadow-lg  rounded text-center overflow-auto mb-2">
                                <div class="d-flex flex-column">
                                    
                                    <div class="mt-3">
                                        <h1 style="color: white"> <%= tarefa.nome.toUpperCase() %> </h1> 
                                    </div>
                                    <div class="">
                                        <a type="button" data-toggle="modal" data-target="#modalCriarItem" class="p-2">
                                            <i class="bi bi-file-earmark-plus-fill"></i>
                                        </a>

                                        <% if(item.length != 0){ %>
                                            <a href="javascript:{}" data-toggle="modal" data-target="#modalDeleteItem" class="p-2">
                                                <i class="bi bi-file-earmark-x-fill"></i>
                                                <input type="hidden" name="idTarefa" value="<%=tarefa.id %>">
                                            </a>
                                        <% }%>
                                                
                                        <a href="javascript:{}" data-toggle="modal" data-target="#modalAlterarItem" class="p-2">
                                            <i class="bi bi-file-earmark-check-fill"></i>
                                            <input type="hidden" name="idTarefa" value="<%=tarefa.id %>">
                                        </a>
                                        
                                    </div>

                                    
                            
                                  
                                </div>
                               <form method="POST" action="/alterarSituacao">
                                <input type="hidden" name="tarefaId" value="<%=tarefa.id %>">
                                    <div class="px-5 mx-5">
                                        <% item.forEach(item => { %>
                                                    <% if(item.tarefaId == tarefa.id)  { %>
                                                        <div class="form-check d-flex justify-content-start ml-5 mt-3 text-center">
                                                            <% if(item.check) { %>
                                                                <i class="bi bi-check" style="color: green;"></i>
                                                                <label class="form-check-label px-2 mt-2" for="flexCheckDefault" style="color: white;"></label>
                                                            <%} else { %> 
                                                                <i class="bi bi-square"></i>
                                                                <label class="form-check-label px-2 mt-2" for="flexCheckDefault" style="color: white;">
                                                            <%}  %> 
                                                            <div class="mt-2">
                                                                <%= item.nome %>
                                                            </div>
                                                            </label>
                                                        </div>
                                                    <% } %>
                                            
                                        <% }) %>
                                </form>
                            </div>
                        </form>
                            <div class="d-block mt-5">
                                <form method="POST" action="/deleteLista" onsubmit="confirmarDeletarConta(event, this)">
                                    <input type="hidden" class="form-control " value="<%= tarefa.id %>" name="tarefaId">
                                    <button  class="btn btn-danger m-4"  onclick="submeterForm(this.form)">APAGAR LISTA</button>
                                    <a type="button" href="/tarefas" class="btn" style="background-color: gray; color: white;">SALVAR ALTERAÇÕES</a>
                                </form>

                               
                            </div>
                         
    
    
                
                </div>
            </div>

            <!-- Modal CRIAR ITEM-->
            <div class="modal fade" id="modalCriarItem" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Criar item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form method="POST" action="/criarItem">
                        <div class="modal-body">
                            <div class="form-outline text-center ">
                                <label >Insira o item</label>
                                <input type="text" class="form-control " placeholder="Digite o nome da lista" name="nome">
                                <input type="hidden" class="form-control " value="false" name="check">
                                <input type="hidden" class="form-control " value="<%= tarefa.id %>" name="tarefaId">
                            </div>
                
                           
                        </div>
                
                        <div class="modal-footer">
                            <button type="button" class="btn gradient-custom" onclick="submeterForm(this.form)">Salvar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                        </div>
                    </form>
            
                  
                </div>
                </div>
            </div>

            <!-- Modal Delete ITEM-->
            <div class="modal fade" id="modalDeleteItem" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitle">Deletar item</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <form method="POST" action="/deleteItem">
                            <div class="modal-body">
                                <div class="form-outline text-center">
                                    <label >Selecione o item </label>
                                    <input type="hidden" class="form-control " value="<%= tarefa.id %>" name="tarefaId">
                                        <select class="form-select" name="idItem">
                                            <% item.forEach(item => { if(item.tarefaId == tarefa.id) {%>
                                                <option value="<%=item.id%>" name="idItem"><%=item.nome %></option>
                                            <% } }) %>
                                        </select>
                                </div>
                        
                    
                            </div>
                    
                            <div class="modal-footer">
                                <button type="button" class="btn gradient-custom" onclick="submeterForm(this.form)">Salvar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                            </div>
                        </form>
                    </div>
                </div>
             </div>
      
            <!-- Modal Alterar ITEM-->
            <div class="modal fade" id="modalAlterarItem" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Alterar Situação</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form method="POST" action="/alterarSituacao">
                        <div class="modal-body">
                            <div class="form-outline text-center">
                                <label >Selecione o item </label>
                                <input type="hidden" class="form-control " value="<%= tarefa.id %>" name="tarefaId">
                                    <select class="form-select" name="idItem">
                                        <% item.forEach(item => { if(item.tarefaId == tarefa.id) {%>
                                            <% if(item.check == true) {%>
                                                <option value="<%=item.id%>"name="idItem" style="background: green;"> <%=item.nome%> [V]</option>
                                            <%}else { %>
                                                <option value="<%=item.id%>" name="idItem" style="background: aqua;"><%=item.nome%> [] </option>
                                            <%} %>
                                        <% } }) %>
                                    </select>
                            </div>
                     
                
                        </div>
                
                        <div class="modal-footer">
                            <button type="button" class="btn gradient-custom" onclick="submeterForm(this.form)">Salvar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                        </div>
                    </form>
            
                  
                </div>
                </div>
            </div>

                    
        </div>

    </div>
</section>

<script>

    function atualizaSelect(){
        const myInput = document.querySelector("#teste"); myInput.value= item.id;
	    console.log(value); 
    }

    function submeterForm(form) {

        form.submit();
    }  


</script>

<%- include ('../../partials/footer.ejs') %> 